{
    "presets": [
        "react"
    ],
    "env": {
        "development": {
            "presets": [
                ["env", {
                    "targets": { "node": "current" },
                    "modules": "commonjs"
                }]
            ]
        },
        "production": {
            "presets": ["env"]
        }
    }
}
